*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("360_F_563620783_9icanRCanLxCe2h7SzwhSQvoEqS9RWSG.jpg");
    background-size: cover;
    font-family: sans-serif;
    
}
h1{
  color: white;
  margin-top: 60px;
  text-align: center;
}
td{
    color: white;
}
form{
    margin-top: 80px;
    
    
}
.submit{
    border-radius: 6px;
    border: 1px solid rgb(101, 211, 255);
    background-color: #fff;
    padding: 3px;
}
.submit:hover{
    cursor: pointer;
}
p{
    color: rgb(16, 22, 22);
    font-size: large;
}
